---
import StepCard from "@components/sections/steps/StepCard.astro";
import { steps } from "@data";

const leftSteps = [];
const rightSteps = [];

for (const step of steps) step.position === "left" ? leftSteps.push(step) : rightSteps.push(step);
---

<section id="steps-section" class="steps-section">
  <h2 id="steps-title">Manos a la obra</h2>
  <div id="steps-container" class="steps-container">
    <div>
      {leftSteps.map((step, index) => <StepCard index={index} position="left" image={step.image} />)}
    </div>
    <div>
      {rightSteps.map((step, index) => <StepCard index={index} position="right" image={step.image} />)}
    </div>
  </div>
</section>

<style>
  .steps-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    overflow: clip;
  }

  .steps-section > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    max-width: 6ch;
    font-size: var(--text-hero-extra-large);
    text-align: center;
    z-index: 1;
  }

  .steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100dvh;
    background-color: var(--neutral-50);
    transform: translateX(100%);
  }

  .steps-container > div {
    flex: 1;
    height: 100%;
    position: relative;
  }
</style>

<script src="../../../scripts/lib/steps.ts"></script>
