---

---

<div class="corner__decoration top__left"></div>
<div class="corner__decoration top__right"></div>
<div class="corner__decoration bottom__left"></div>
<div class="corner__decoration bottom__right"></div>

<style>
  .corner__decoration {
    --corner-spacing: 2rem;
    position: absolute;
    width: 100px;
    border: 1px solid transparent;
    aspect-ratio: 1;
  }

  .corner__decoration.top__left {
    left: var(--corner-spacing);
    top: var(--corner-spacing);
    border-top-color: var(--neutral-50);
    border-left-color: var(--neutral-50);
    animation: slideInTopLeft var(--slide-in-delay) ease-in-out;
  }

  .corner__decoration.top__right {
    right: var(--corner-spacing);
    top: var(--corner-spacing);
    border-top-color: var(--neutral-50);
    border-right-color: var(--neutral-50);
    animation: slideInTopRight var(--slide-in-delay) ease-in-out;
  }

  .corner__decoration.bottom__left {
    left: var(--corner-spacing);
    bottom: var(--corner-spacing);
    border-bottom-color: var(--neutral-50);
    border-left-color: var(--neutral-50);
    animation: slideInBottomLeft var(--slide-in-delay) ease-in-out;
  }

  .corner__decoration.bottom__right {
    right: var(--corner-spacing);
    bottom: var(--corner-spacing);
    border-bottom-color: var(--neutral-50);
    border-right-color: var(--neutral-50);
    animation: slideInBottomRight var(--slide-in-delay) ease-in-out;
  }

  @keyframes slideInTopLeft {
    from {
      transform: translate(-100%, -100%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes slideInTopRight {
    from {
      transform: translate(100%, -100%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes slideInBottomLeft {
    from {
      transform: translate(-100%, 100%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes slideInBottomRight {
    from {
      transform: translate(100%, 100%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
</style>
