---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="history-section">
  <article>
    <p class="start"><span>Dulce</span> y <span>queso</span></p>
    <p class="center">se <span>unieron</span></p>
    <p class="end">junto al fuego</p>
    <p class="start">en manos</p>
    <p class="end">de <span>Turrialba</span></p>
  </article>
  <article>
    <p class="center">Pasó de <span>abuela</span></p>
    <p class="start">a <span>nieta</span></p>
    <p class="end">entre risas</p>
    <p class="center">y café</p>
    <p class="end">una <span>joya local</span></p>
  </article>
</section>

<style>
  .history-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 256px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>

<style is:global>
  .history-section > article > p {
    font-family: var(--font-display);
    font-size: var(--text-hero-medium);
    font-weight: 600;
    /* font-size: calc(7.5vw + 1rem); */
    line-height: 1.25;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .history-section > article > p.start {
    text-align: start;
  }

  .history-section > article > p.center {
    text-align: center;
  }

  .history-section > article > p.end {
    text-align: end;
  }

  .history-section > article > p > span {
    color: var(--primary-300);
  }
</style>
