---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id} class="history-section">
  <slot />
</section>

<style>
  .history-section {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 300vw;
    height: 100dvh;
    /* background: linear-gradient(
      90deg,
      var(--primary-50),
      var(--primary-100),
      var(--primary-200),
      var(--primary-300),
      var(--primary-400)
    ); */
  }
</style>

<style is:global>
  .history-section > p {
    font-family: var(--font-display);
    font-size: calc(15vw + 1rem);
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .history-section > p > span {
    color: var(--primary-300);
  }
</style>

<script src="../../../scripts/lib/history.ts"></script>
