@import "tailwindcss";

@theme {
  /* Primary Colors */
  --primary-50: #fdead7;
  --primary-100: #fad5b0;
  --primary-200: #f8c088;
  --primary-300: #f5aa60;
  --primary-400: #f39539;
  --primary-500: #f08011;
  --primary-600: #c96b0d;
  --primary-700: #a1550a;
  --primary-800: #794008;
  --primary-900: #512b05;
  --primary-950: #281401;

  --max-width: 1856px;

  /* Animations */
  --animate-slide-in-down: slideInDown 0.5s ease-out;
  --animate-move-up-and-down: moveUpAndDown 2s ease-in-out infinite alternate;

  @keyframes slideInDown {
    from {
      transform: translateY(-700px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes moveUpAndDown {
    from {
      transform: translateY(7.5px);
    }
    to {
      transform: translateY(-7.5px);
    }
  }
}

@theme inline {
  --font-sans: var(--font-unbounded);
  --font-mono: var(--font-poppins);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  *,
  *::before,
  *::after {
    scrollbar-width: none;
  }

  html {
    @apply scroll-smooth;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-semibold text-balance uppercase;
  }

  :is(button, a) {
    @apply cursor-pointer;
  }

  :is(dialog, [popover]) {
    @apply fixed z-999 transition-discrete duration-500 ease-in-out;
    inset: unset;
  }

  :is(dialog, [popover])::backdrop {
    @apply bg-black/0 backdrop-blur-[0px] transition-[background-color,backdrop-blur] duration-500 ease-in-out;
  }

  :is(dialog[open], [popover]:popover-open)::backdrop {
    @apply bg-black/10 backdrop-blur-xs starting:bg-black/0 starting:backdrop-blur-[0px];
  }
}

@layer components {
  .btn-primary {
    @apply border-(--primary-500) bg-(--primary-500) text-neutral-50 transition-[background-color,color,border-color] hover:border-(--primary-300) hover:bg-(--primary-300) hover:text-neutral-950;
  }

  .btn-secondary {
    @apply border-neutral-50 bg-neutral-50 text-neutral-950 transition-opacity hover:opacity-80;
  }
}

@utility bg-glass {
  @apply bg-black/75 backdrop-blur-xl;
}

@utility writing-sideways-lr {
  writing-mode: sideways-lr;
}
