---
import ModalPolicies from "./ModalPolicies.astro";

interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<ModalPolicies id={id} title={title}>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, quam impedit dolorem voluptates, mollitia soluta
    doloremque illo, expedita qui itaque ea commodi quas. In libero necessitatibus nisi facere, aliquid dolore! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corporis, odio? Mollitia perspiciatis quis quaerat consequatur,
    natus maiores pariatur accusantium at laborum tempora, cumque doloribus, nisi quo consequuntur dolor neque
    voluptates!
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam totam nostrum repellat neque alias, nobis illo
    reprehenderit. Eligendi maxime consequatur earum architecto vero facilis, nam beatae. Corporis voluptas a dicta.
  </p>
</ModalPolicies>

<style>
  p {
    font-family: var(--poppins-font);
    font-weight: 400;
  }
</style>
