---
import Layout from "@layouts/Layout.astro";
import Header from "@components/layout/Header.astro";
import Hero from "@components/sections/hero/Hero.astro";
import PoliciesSection from "@components/sections/policies/PoliciesSection.astro";
import Ingredients from "@components/sections/ingredients/Ingredients.astro";
import Steps from "@components/sections/steps/Steps.astro";
import History from "@components/sections/history/History.astro";

// TODO: IMPROVE THE FONT SIZE ACROSS THE ENTIRE WEBSITE
---

<Layout title="Turrika - Home">
  <Header />
  <main>
    <Hero />
    <!-- <History id="history-01">
      <p>Dulce y queso se unieron junto al fuego</p> -->
    <!-- <p class="start"><span>Dulce</span> y <span>queso</span></p>
      <p class="center">se <span>unieron</span></p>
      <p class="end">junto al fuego</p>
      <p class="start">en manos</p>
      <p class="end">de <span>Turrialba</span></p> -->
    <!-- </History> -->
    <!-- <Ingredients /> -->
    <Steps />
    <!-- <History id="history-02">
      <p>Pasó de abuela a nieta entre risas y café una joya local</p> -->

    <!-- <p class="center">Pasó de <span>abuela</span></p>
      <p class="start">a <span>nieta</span></p>
      <p class="end">entre risas</p>
      <p class="center">y café</p>
      <p class="end">una <span>joya local</span></p> -->
    <!-- </History> -->
    <PoliciesSection id="policy-modal" title="Política de Privacidad" />
  </main>
</Layout>
