---
import ArrowIcon from "@components/icons/Arrow.astro";
import Input from "@components/ui/Input.astro";
import Button from "@components/ui/Button.astro";
---

<section class="newsletter">
  <h2>Suscríbete</h2>
  <div>
    <form class="newsletter__form">
      <Input id="email" label="Email" type="email" name="email" placeholder="Escribe tu email" />
      <Button type="submit" title="Suscribirse a la newsletter" aria-label="Suscribirse a la newsletter">
        <ArrowIcon width={20} />
      </Button>
    </form>
    <p>
      Al suscribirte, aceptas nuestra
      <button
        command="show-modal"
        commandfor="policy-modal"
        title="Mostrar política de privacidad"
        aria-label="Mostrar política de privacidad"
      >
        política de privacidad
      </button>.
    </p>
  </div>
</section>

<style>
  .newsletter,
  .newsletter > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .newsletter {
    grid-area: form;
    align-self: center;
    max-width: 450px;
    animation: slideInLeft var(--slide-in-delay) ease-in-out;
  }

  .newsletter > h2 {
    font-size: var(--text-heading-small);
  }

  .newsletter > div > form {
    display: flex;
  }

  .newsletter > div > p > button {
    font-weight: 600;
    text-decoration: underline;
    transition: opacity 0.3s ease-in-out;
  }

  .newsletter > div > p > button:hover {
    opacity: 0.85;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(700px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
