---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  id: string;
  label: string;
}

const { id, label, ...props } = Astro.props;
---

<div class="input__box">
  <label for={id}>{label}</label>
  <input id={id} {...props} />
</div>

<style>
  .input__box {
    flex: 1;
    position: relative;
    display: flex;
  }

  .input__box > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .input__box > input {
    flex: 1;
    padding: 12px;
    background-color: var(--neutral-50);
    color: var(--neutral-900);
    border: none;
    outline: none;
  }
</style>
