---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {}

const { ...props } = Astro.props;
---

<label class="input">
  <input {...props} />
</label>

<style>
  .input {
    flex: 1;
    display: flex;
    background-color: var(--neutral-50);
    color: var(--neutral-900);
  }

  .input > input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
  }
</style>
